

/*
 -----------------------------------------------
 This stylesheet is used to style the header for the small screen only 
 
 -----------------------------------------------
 */


:root {
    --primary-color: #006400;
    --hover-primary-colo: #004D00;
    --accent-color: #FFD700;
    --bacground-color: #ffffff;
    --text-color:  #222222;
    --dark-bg:#000000;
    --heading-fonts: 'popins', sanserif;
    --body-fonts: 'inter', sanserif;
 }
.header-learge {
    display: none;
}

.small-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    z-index: 50;
     /* Transparent to show hero section */
  /* background-color: rgba(255, 255, 255, 0.1); Light white with transparency */

   /* Optional blur effect */
  backdrop-filter: blur(10px);

  /* Smooth transition when scrolling */
  transition: background-color 0.3s ease;

}
.logo img{
    width: 90px;
    height: 90px;
}

.hamburger {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px 15px;
    color: var(--bacground-color);
    border-radius: 6px;
    border: none;
     background-color: rgba(255, 255, 255, 0.1);
     z-index: 1100;
}

/* sidebar styles  */
.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: var(--primary-color);
    /* background-color: linear-gradient( to bottom right, var(--primary-color), var(--hover-primary-colo)); */
    z-index: 1000;
    overflow-y: auto;
    transition:  transform 0.3s ease-in-out;
    transform: translateX(0%);
}

/* Hide sidebar  */
.side-bar.hidden {
    transform: translateX(100%);
}

/* Overlay  */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color:  rgba(0,0,0,0.5);
    z-index: 900;
}

/* hidden Overlay */
.sidebar-overlay.hidden {
    display: none;
}

.close-btn {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

/* Nav Style  */

.side-bar .main-nav {
   margin-top: 40px;

}

.side-bar ul {
    list-style: none;
    padding-left: 0;
}

.side-bar .nav-item {
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    margin-left: 15px;
    margin-top: 5px;
}

.dropdown-menu li {
    margin-bottom: 5px;
}



   