

/*
 -----------------------------------------------
 This stylesheet is used to style the heaer for large screens only 
 
 -----------------------------------------------
 */

:root {
    --primary-color: #006400;
    --hover-primary-colo: #004D00;
    --accent-color: #FFD700;
    --bacground-color: #ffffff;
    --text-color:  #222222;
    --dark-bg:#000000;
    --heading-fonts: 'popins', sanserif;
    --body-fonts: 'inter', sanserif;
 }

 @media screen  and (min-width:750px){

     .small-screen  {
        display: none;
     }  

     .header-learge {
        display: block;
        position: fixed;
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.1); /*Light white with transparency*/
        width: 100%;
        z-index: 70;
     }

     .header-container {
        display: flex;
        flex-direction: row;
     }

     .main-nav {
        display: flex;
     }
 }