*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --primary-color: #006400;
    --hover-primary-colo: #004D00;
    --accent-color: #FFD700;
    --sec-bacground-color: #f0f2f5;
    --bacground-color: #ffffff;
    --text-color:  #222222;
    --fade-text-color: #666;
    --dark-bg:#000000;
    --heading-fonts: 'popins', sanserif;
    --body-fonts: 'inter', sanserif;
 }

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center; 
  transition: background-image 1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  rgba(0,0,0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.overlay h1 {
    font-size: 2rem;
    max-width: 90%;
    font-family: var(--heading-fonts);
    color: var(--accent-color);
}

.cta-button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-decoration: none;
    padding:  10px 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--heading-fonts);
}
.cta-button:hover {
    background-color: #004D00;
}

 

 /* About section  */
 .second-section {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: var(--sec-bacground-color);
    grid-template-columns: repeat(1, 1fr)
 }

 .about-card , .library-card , .ministries-card , .leadership-card{
    max-width: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0,0,0, 1.9);
    background-color: var(--bacground-color);
 }

 .about-card img , .library-card img , .ministries-card img , .leadership-card img {
 width: 100%;
 height: auto;
 display: block;
 }

 .about-card .text , .library-card .text ,.ministries-card text , .leadership-card text {
    padding: 20px;

 }

 .about-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
 }

 .about-card p {
    
    font-size: 1rem;
    color: var(--fade-text-color);
    line-height: 1.6;
     
 }

 .about-card .cta-button {
    margin-top: 12px;
    display: inline-block;
 }

 /* Responsive */
 @media (min-width: 768px) {
    .overlay h1 {
        font-size: 3rem;
    } 

    .second-section {
         grid-template-columns: repeat(3, 1fr)
    }
    .cta-button {
        font-size: 1.2rem;
    }
 }
