 /* About section  */
 .second-section {
    display: grid;
    gap: 20px;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.1);  */
    /* backdrop-filter: blur(10px); */
    background-color: var(--sec-bacground-color);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(1, 1fr) */
 }

 .section-card {
    max-width: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: var(--bacground-color);
    display: flex;
    
    flex-direction: column;
 }

 .section-card img  {
 width: 100%;
 height: 200px;
 object-fit: cover;
 display: block;
 }

 .section-card .text  {
   display: flex;
   gap: 10px;
   flex-direction: column;
   flex: 1;
    padding: 1rem;
 }

 .section-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
 }

 .section-card p {
    
    font-size: 1rem;
    color: var(--fade-text-color);
    line-height: 1.6;
     
 }

 .section-card.cta-button  {
    /* margin-top: 12px; */
    /* display: inline-block; */
   align-items: center;
 }